.tasks {
  width: 100%;
  max-width: 46;
  margin: 0 auto;
  margin-top: 4rem;
}

.info {
  display: flex;
  justify-content: space-between;
}

.createdInfo strong {
  color: var(--blue-light);
  font-size: 0.875rem;
  font-weight: 700;
}

.createdInfo span, .doneInfo span {
  background: var(--gray-400);
  color: var(--gray-100);
  margin-left: 0.5rem;
  padding: 3px 9px;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: 700;
}

.doneInfo strong {
  color: var(--purple-light);
  font-size: 0.875rem;
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 1.5rem;
  border-top: 1px solid var(--gray-300);
  border-radius: 8px;
}

.taskListEmpty {
  margin-top: 4rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--gray-300);
  text-align: center;
}

.taskListEmpty svg {
  opacity: 0.3;
}

.taskListEmpty p {
  font-weight: 700;
}